.sidebar2{
    flex: 0.3;
    padding-right: 4rem;
    padding-left: 1.7rem;
    width: 30vw;
}
.side2_input{
    display: flex;
    align-items: center;
    background-color:  rgb(240, 240, 240);
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
}

.side2_input > input{
    border: none;
    padding: 1rem;
    border-radius: 1rem;
}

.side2_searchicon{
    color: grey;
}

.side2_container{
    background-color: white;
}

.side2_container >h2{
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    .sidebar2 {
      display: none;
    }

  }
  
  @media only screen and (min-width: 600px) and (max-width: 960px) {
    .sidebar2 {
      display:none;
    }

  }
  
  @media only screen and (min-width: 960px) {
    .sidebar2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .side2_input {
      margin-right: 16px;
    }
  
    .side2_container {
      flex: 1;
    }
  }
  