*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
   height: 10vh;
   width: 100vw;
   background-color: rebeccapurple;
   border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
 ul {
    display:  flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}
 .link{
    color: white;
    font-size: 1rem;
 text-decoration: none;
 text-transform: uppercase;
}