.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-top: 0px;
  justify-content: center;
}

.body {
  flex: 1;
  padding: 0.5rem;
}

.post_avatar {
  padding :1rem;
}

.header_description{
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.body > img {
  margin-top: 0.5rem;
  border-radius: 1rem;
  width: 50%;
  height: 50vh;
}

.bottom {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.header_text {
  display: flex;
  font-size: 1rem;
  padding-top: 1rem;  
}

.post_verified {
  font-size: 20px !important;
  color: var(--twitter-color);
  margin-top: 0;
}

.header_spec {
  font-weight: 600;
  font-size: 15px;
  color: gray;
  display: flex;
}
/* .img{
  width: 50vw;
} */