.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-top: 0px;
  justify-content: center;
}

.body {
  flex: 1;
  padding: 0.5rem;
}

.post_avatar {
  padding :1rem;
}

.header_description{
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.body > img {
  border-radius: 1rem;
  padding-left: 1rem;
  width: 600px;
  height: 500px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.header_text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.post_verified {
  font-size: 20px !important;
  color: var(--twitter-color);
}

.header_spec {
  font-weight: 600;
  font-size: 15px;
  color: gray;
}
